@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #FFFFFF;
    margin: 2rem 0 0 0;
    background-color: #000000;
}

.navbar {
    background-color: #259EAC;
    padding: 0.5rem 3rem !important;
}


h2 {
    margin: 2rem 0 0 0;
    padding-bottom: 0;

}

h3 {
    padding: 0.2rem 0;
    background-color: #259EAC;
}

h4 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

p {
    text-align: left;
}

.card {
    background-color: #259EAC;
    text-align: left;
}

footer {
    background-color: #259EAC;
    padding: 0.3rem;
    vertical-align: middle;
}

hr {
    border-top: 2px solid #259EAC
}